<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrom=1" />
  <title><%= pageTitle  %></title>
  <!-- <base href="/"> -->
  <!-- <link rel="stylesheet" href="../public/css/main.css"  type="text/css"/> -->
  <link rel="stylesheet" href="../css/main.css" type="text/css" />
  <link rel="stylesheet" href="../css/order.css" type="text/css" />
  <link rel="stylesheet" href="../css/slider.css" type="text/css" />
  <link rel="stylesheet" href="../css/comments.css" type="text/css" />

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="../public/css/product.css" type="text/css"/> -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/product.css" type="text/css" />
  <link rel="stylesheet" href="../css/cart.css" type="text/css" />

</head>
<style>
  body {
    margin-top: 20px;
    background-color: #e9ebee;
  }

  .be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border: 1px solid #ffffff;
  }

  .comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
  }

  .be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
  }

  .be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .be-comment-content {
    margin-left: 80px;
  }

  .be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
  }

  .be-comment-name {
    font-size: 13px;
    font-family: 'Conv_helveticaneuecyr-bold';
  }

  .be-comment-content a {
    color: #383b43;
  }

  .be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
  }

  .be-comment-time {
    text-align: right;
  }

  .be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
  }

  .be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
  }

  .form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100% !important;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
  }

  .form-group.fl_icon .form-input {
    padding-left: 70px;
  }

  .form-group textarea.form-input {
    height: 150px;
    columns: 12;
  }
</style>

<body>
  <div class="container">
    <div class="be-comment-block">
      <h1 class="comments-title">Comments <%= productC.length %> </h1>
      <% if(productC.length > 0 ){ %>
      <% productC.forEach((p)=>{ %>
      <div class="be-comment">
        <div class="be-img-comment">
          <a href="blog-detail-2.html">
            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
          </a>
        </div>
        <div class="be-comment-content">

          <span class="be-comment-name">
            <a href="blog-detail-2.html">Ravi Sah</a>
          </span>
          <!-- <span class="be-comment-time">
            <i class="fa fa-clock-o"></i>
            May 27, 2015 at 3:14am
          </span> -->

          <p class="be-comment-text">
            <%= productC %> 
          </p>
        </div>
      </div>
      <% }) %>
      <% } %>
      <form class="form-block" method="post" action="/post-comment">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group fl_icon">
              <div class="icon"><i class="fa fa-user"></i></div>
              <input class="form-input" type="text" name="name" placeholder="Your name">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 fl_icon">
            <div class="form-group fl_icon">
              <div class="icon"><i class="fa fa-envelope-o"></i></div>
              <input class="form-input" type="text" name="email" placeholder="Your email">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="form-group">
              <input name="comment" class="form-input" required placeholder="Your text">
            </div>
          </div>
          <input type="hidden" value="<%= product._id %>" name="productId">
          <input class="btn btn-primary" type="submit" value="submit">
        </div>
      </form>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>