<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrom=1" />
  <title><%= pageTitle  %></title>
  <base href="/">
  <!-- <link rel="stylesheet" href="../public/css/main.css"  type="text/css"/> -->
  <link rel="stylesheet" href="./css/main.css" type="text/css" />
  <link rel="stylesheet" href="./css/order.css" type="text/css" />

  <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css" integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous" />
  <!-- <link rel="stylesheet" href="../public/css/product.css" type="text/css"/> -->
  <link rel="stylesheet" href="./css/product.css" type="text/css" />
  <link rel="stylesheet" href="./css/cart.css" type="text/css" />

</head>

<body style="background-color: #0008;">

  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center" > 
              <% if(errorMessage){ %> 
              <div class="alert alert-danger" role="alert"> <%= errorMessage %> </div> <!-- flash message -->
              <% } %> 
              <% if(succesMessage[0]){ %> 
                <div class="alert alert-success" role="alert"> <%= succesMessage[0] %> </div> <!-- flash message -->
                <% } %> 
              <form action="/login" method="post" novalidate>
                <!-- <input type="hidden" name="_csrf" value="<%= //csrfToken %>"> -->
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="text-white-50 mb-5">Please enter your login and password!</p>

                  <div class="form-outline form-white mb-4">
                    <input name="email" type="email" value="<%= oldInput.email %>"  id="typeEmailX" class="form-control form-control-lg" placeholder="Enter your email" />
                    <label class="form-label" for="typeEmailX">Email</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input name="password" type="password" value="<%= oldInput.password %>"  id="typePasswordX" class="form-control form-control-lg" placeholder="Enter your password"/>
                    <label class="form-label" for="typePasswordX">Password</label>
                  </div>

                  <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="/reset">?Forgot password</a></p>

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                </div>
              </form>
              <div>
                <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 
  <%- include('../includes/end.ejs') %>